# Data Importing and Pre-processing

### Import dataset and describe characteristics such as dimensions, data types, file types, and import methods used

In [10]:
# Import dataset

import pandas as pd
from sklearn.preprocessing import MinMaxScaler

e_df = pd.read_csv('online_shoppers_intention.csv')
e_df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0.0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1.0,1,1,1,Returning_Visitor,False,False
1,0,0.0,0.0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2.0,2,1,2,Returning_Visitor,False,False
2,0,0.0,0.0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4.0,1,9,3,Returning_Visitor,False,False
3,0,0.0,0.0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3.0,2,2,4,Returning_Visitor,False,False
4,0,0.0,0.0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3.0,3,1,4,Returning_Visitor,True,False

In [6]:
# Describe the dataset
print(f"Dataset Dimensions: {e_df.shape}")
print(f"\nData Types:\n{e_df.dtypes}")
print(f"\nDataset Information:\n{e_df.info()}")
print(f"\nDataset Summary:\n{e_df.describe()}")

Dataset Dimensions: (12330, 18)

Data Types:
Administrative               int64
Administrative_Duration    float64
Informational              float64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems           float64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12202 non-null  float64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12195 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12207 non-null  float64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(9), int64(5), object(2)
memory usage: 1.5+ MB

Dataset Information:
None

Dataset Summary:
       Administrative  Administrative_Duration  Informational  \
count    12330.000000             12330.000000   12202.000000
mean         2.315166                80.818611       0.503770
std          3.321784               176.779107       1.270882
min          0.000000                 0.000000       0.000000
25%          0.000000                 0.000000       0.000000
50%          1.000000                 7.500000       0.000000
75%          4.000000                93.256250       0.000000
max         27.000000              3398.750000      24.000000

       Informational_Duration  ProductRelated  ProductRelated_Duration  \
count            12330.000000    12330.000000             12330.000000
mean                34.472398       31.731468              1194.746220
std                140.749294       44.475503              1913.669288
min                  0.000000        0.000000                 0.000000
25%                  0.000000        7.000000               184.137500
50%                  0.000000       18.000000               598.936905
75%                  0.000000       38.000000              1464.157214
max               2549.375000      705.000000             63973.522230

        BounceRates     ExitRates    PageValues    SpecialDay  \
count  12330.000000  12330.000000  12195.000000  12330.000000
mean       0.022191      0.043073      5.911196      0.061427
std        0.048488      0.048597     18.632116      0.198917
min        0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.014286      0.000000      0.000000
50%        0.003112      0.025156      0.000000      0.000000
75%        0.016813      0.050000      0.000000      0.000000
max        0.200000      0.200000    361.763742      1.000000

       OperatingSystems       Browser        Region   TrafficType
count      12207.000000  12330.000000  12330.000000  12330.000000
mean           2.123618      2.357097      3.147364      4.069586
std            0.911829      1.717277      2.401591      4.025169
min            1.000000      1.000000      1.000000      1.000000
25%            2.000000      2.000000      1.000000      2.000000
50%            2.000000      2.000000      3.000000      2.000000
75%            3.000000      2.000000      4.000000      4.000000
max            8.000000     13.000000      9.000000     20.000000

### Clean, wrangle, and handle missing data

In [9]:
# Check for missing values
print(f"Missing Values:\n{e_df.isnull().sum()}")

# --------Handle Missing Values--------

# Fill numeric columns with the median
e_df['BounceRates'].fillna(e_df['BounceRates'].median())
e_df['ExitRates'].fillna(e_df['ExitRates'].median())

# Replace page duration columns with 0
e_df['Administrative_Duration'].fillna(0)
e_df['Informational_Duration'].fillna(0)
e_df['ProductRelated_Duration'].fillna(0)

# Fill categorical values with mode 
e_df['Month'].fillna(e_df['Month'].mode()[0])
e_df['VisitorType'].fillna(e_df['VisitorType'].mode()[0])

# Drop any remaining rows that have missing values 
e_df.dropna()

Missing Values:
Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0.0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1.0,1,1,1,Returning_Visitor,False,False
1,0,0.0,0.0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2.0,2,1,2,Returning_Visitor,False,False
2,0,0.0,0.0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4.0,1,9,3,Returning_Visitor,False,False
3,0,0.0,0.0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3.0,2,2,4,Returning_Visitor,False,False
4,0,0.0,0.0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3.0,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0.0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4.0,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0.0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3.0,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0.0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3.0,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0.0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2.0,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0.0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3.0,2,1,2,New_Visitor,True,False

### Transform data appropriately using techniques such as aggregation, normalization, and feature construction

In [19]:
# Normalize numerical features to ensure consistent scales
scaler = MinMaxScaler()
e_df[['BounceRates', 'ExitRates', 'ProductRelated_Duration']] = scaler.fit_transform(
    e_df[['BounceRates', 'ExitRates', 'ProductRelated_Duration']]
)

# Aggregate the average product-related duration by Region and reset the index
region_product_duration = e_df.groupby('Region')['ProductRelated_Duration'].mean().reset_index()
region_product_duration.rename(columns={'ProductRelated_Duration': 'Avg_Product_Duration'}, inplace=True)

# Drop any duplicate 'Avg_Product_Duration' columns
if 'Avg_Product_Duration' in e_df.columns:
    e_df = e_df.drop(columns=['Avg_Product_Duration'])

# Now merge with the main dataframe
e_df = e_df.merge(region_product_duration, on='Region', how='left')

# Feature Construction: Create a "Total Duration" feature for overall session length
e_df['TotalDuration'] = e_df['Administrative_Duration'] + e_df['Informational_Duration'] + e_df['ProductRelated_Duration']

### Reduce redundant data and perform need based discretization

In [20]:
# Drop redundant columns
e_df.drop(columns=['Administrative_Duration', 'Informational_Duration'], inplace=True)

# Discretize 'TotalDuration' into categories
e_df['DurationCategory'] = pd.cut(e_df['TotalDuration'], bins=3, labels=["Low", "Medium", "High"])

# Final review of the cleaned and preprocessed data
print(f"\nFinal DataFrame Summary:\n{e_df.info()}")
print(f"\nSample Data:\n{e_df.head()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Informational            12202 non-null  float64
 2   ProductRelated           12330 non-null  int64
 3   ProductRelated_Duration  12330 non-null  float64
 4   BounceRates              12330 non-null  float64
 5   ExitRates                12330 non-null  float64
 6   PageValues               12195 non-null  float64
 7   SpecialDay               12330 non-null  float64
 8   Month                    12330 non-null  object
 9   OperatingSystems         12207 non-null  float64
 10  Browser                  12330 non-null  int64
 11  Region                   12330 non-null  int64
 12  TrafficType              12330 non-null  int64
 13  VisitorType              12330 non-null  object
 14  Weekend                  12330 non-null  bool
 15  Revenue                  12330 non-null  bool
 16  Avg_Product_Duration_x   12330 non-null  float64
 17  TotalDuration            12330 non-null  float64
 18  Avg_Product_Duration_y   12330 non-null  float64
 19  Avg_Product_Duration     12330 non-null  float64
 20  DurationCategory         12330 non-null  category
dtypes: bool(2), category(1), float64(11), int64(5), object(2)
memory usage: 1.7+ MB

Final DataFrame Summary:
None

Sample Data:
   Administrative  Informational  ProductRelated  ProductRelated_Duration  \
0               0            0.0               1                 0.000000
1               0            0.0               2                 0.001000
2               0            0.0               1                 0.000000
3               0            0.0               2                 0.000042
4               0            0.0              10                 0.009809

   BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  \
0         1.00       1.00         0.0         0.0   Feb               1.0
1         0.00       0.50         0.0         0.0   Feb               2.0
2         1.00       1.00         0.0         0.0   Feb               4.0
3         0.25       0.70         0.0         0.0   Feb               3.0
4         0.10       0.25         0.0         0.0   Feb               3.0

   ...  Region  TrafficType        VisitorType Weekend  Revenue  \
0  ...       1            1  Returning_Visitor   False    False
1  ...       1            2  Returning_Visitor   False    False
2  ...       9            3  Returning_Visitor   False    False
3  ...       2            4  Returning_Visitor   False    False
4  ...       1            4  Returning_Visitor    True    False

   Avg_Product_Duration_x  TotalDuration  Avg_Product_Duration_y  \
0                0.019947       0.000000                0.019947
1                0.019947       0.001000                0.019947
2                0.017522       0.000000                0.017522
3                0.018483       0.000042                0.018483
4                0.019947       0.009809                0.019947

   Avg_Product_Duration  DurationCategory
0              0.019947               Low
1              0.019947               Low
2              0.017522               Low
3              0.018483               Low
4              0.019947               Low

[5 rows x 21 columns]